body {
    background-color: lightblue;
}

h1#stationTitle {
    color: gold;
    background: black;
    text-align: center;
}

h3 {
   text-align: center;
   background-color: black;
   color: white;
}

table#arrivals, table#departures {
    font-size: large;
    margin: 4px;
    table-layout: auto;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

th {
    background-color: royalblue;
    color: white;
    font-size: larger;
    font-style: italic;
}

td {
    font-weight: bold;
    background-color: white;
}

div#stationBoard {
    width: 80;
    max-width: 800px;
    margin: auto;
    border: 6px solid gold;
    padding: 24px;
    background-color: lightseagreen;
}


h2 {
    background-color: black;
    color: white;
    font-style: italic;
    /* margin-right: 5px; */
    /* padding-right: 5px; */
    width: fit-content;
    border-top: 3px dashed gold;
    border-bottom: 3px dashed gold;
    padding: 0 5px;
}

button.reload {
    margin: 1em;
    width: 130px;
    height: 50px;
    font-weight: bold;
    font-size: large;
}
.button-container {
    width: 30%;
    margin: auto;
}
span.favbutton {
    margin: 1em;
}
div#bookmarks {
    margin: 0.5em;
    padding: 0.5em;
    background-color: lightyellow;
}
div#favbuttons {
    margin-bottom: 1em;
}
#consistlink {
    width: 150px;
    padding: 15px;
    border: 5px solid black;
    background-color: lightgray;
    position: relative;
    top: -10px;
    display: inline-block;
    text-align: center;
}
a#consistlink {
    white-space: nowrap;
    text-align: center;
}
.footer {
    font-size: small;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}