body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
}
table {
        margin: auto;
        width: 95%;
        font-family: 'Lucida Console', monospace;
}
.historiclink {
        border: 3px dashed red;
}
.header {
        text-align: center;
        width: 50%;
        margin: auto;
}
.footer {
        font-size: small;
        text-align: center;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
}
.container {
        margin: auto;
        width: 95%;
}